include ../modules/head/_head
include ../modules/page-list/_page-list

include ../modules/_header
include ../modules/_plugins
include ../modules/_icons
include ../modules/_buttons
include ../modules/_errors
include ../modules/_forms
include ../modules/_search
include ../modules/_breadcrumb
include ../modules/_footer
include ../modules/_pagination

doctype html
html(lang='en')
  head
    block head
  body
    block body
  +plugins()
