mixin header()
  header.header
    .header__top
      .header__top-info
        .header__top-hotline
          | Hotline: 19002215 - (024) 665 08862
      .header__portal
        img(src='images/portal.png' alt='Portal Images')
        span.header__portal-text
          | Cổng thông tin học tiếng anh
    .header__midle
      .header__logo
        a(href='#')
          img(src='images/logo.png' alt='Logo Ispeak')
      .header__portal
        ul.side-right
          li.side-right__item
            a(href='#') Đăng ký
          li.side-right__item
            a(href='#') Đăng nhập
    .header__menu
      nav.header__menu-nav
      ul.header__menu-list
        li.header__menu-item.header__menu-item--active
          a(href='#') Giới thiệu
        li.header__menu-item
          a(href='#') Giáo viên
        li.header__menu-item
          a(href='#') Khoá học
        li.header__menu-item
          a(href='#') Gói học phí
        li.header__menu-item
          a(href='#') Tiếng anh thiếu nhi
          span.header__menu-hot Hot
        li.header__menu-item
          a(href='#') Hướng dẫn
        li.header__menu-item
          a(href='#') Đặt lịch học
        li.header__menu-item
          a(href='#') Open class
        li.header__menu-item
          a(href='#') Blog
