// ======================================================
// Base :: Global
// ======================================================
body {
  color: $gray-dark;
  font-size: $font-size-base;
  font-family: robotoregular, Arial, Helvetica, sans-serif;

  // We use mixin breakpoint like this
  // https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
  @include media-breakpoint-down(sm) {
    background-color: $gray-light;
  }
}

.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

:focus {
  outline: none;
}
