// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
// Modifier variables of Boostrap 4
// Detail: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
$white: #fff;
$black: #000;
$blue: #076fd6;
$blue-light: #1982eb;
$blue-lighter: #1775d7;
$blue-dark: #cee6ff;
$pink: #fc78b9;
$pink-dark: #fe5d8a;
$red: #de4e59;
$orange: #ffac33;
$orange-dark: #f7941d;
$green: #29cd89;
$green-dark: #44c68f;
$green-darker: #2cc77c;
$gray: #ededed;
$gray-light: #f7f9fa;
$gray-lighter: #8e9fb5;
$gray-dark: #173050;
$gray-darker: #283b53;
$grey: #606c7d;
$grey-dark: #324660;
$grey-light: #6f7e92;
$border-gray: #e4e4e4;

// Fonts
$font-size-base: 14px;
$font-size-extra-small: 11px;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 18px;

$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Borders
$border-radius-base: 8px;
$border-radius-small: 3px;
$border-radius-hack: 100px;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';
