// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
// Modifier variables of Boostrap 4
// Detail: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
$white: #fff;
$black: #000;
$blue: #4dabff;
$blue-light: #edf6ff;
$purple: #7d5cc1;
$pink: #fc78b9;
$red: #ff4040;
$red-light: #ffebeb;
$orange: #ff954a;
$green: #36c398;
$yellow: #fdd835;
$green-light: #aeda49;
$gray: #d8d8d8;
$gray-light: #f9f7f5;
$gray-dark: #84868f;
$gray-darker: #656873;
$google: #e92e40;
$facebook: #2177de;

// Fonts
$font-family-base: 'Hiragino Sans', 'Open Sans', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
$font-family-bold: 'Hiragino Sans W6', 'Open Sans', 'Yu Gothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';
$font-size-base: 14px;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';
