//-------------------------------------------------------
//- Styleguides :: Forms
//-------------------------------------------------------

h2 Input field

.code-example
  .demo
    form
      +group-input-field({
        label: 'ユーザーIDまたはメールアドレス',
        id: 'example-11',
        placeholder: 'ユーザーIDまたはメールアドレス'
      })
  pre
    code
      | form
      |   +group-input-field({
      |      label: 'ユーザーIDまたはメールアドレス',
      |      id: 'example-11',
      |      placeholder: 'ユーザーIDまたはメールアドレス'
      |    })
