// ======================================================
// Components :: Buttons
// ======================================================

.button {
  $block: &;

  font-size: $font-size-base;
  line-height: 18px;
  border-radius: $border-radius-small;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease;

  // Modifier: Type
  @include m('primary') {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue-light;
      color: $white;
    }
  }

  @include m('secondary') {
    background-color: $gray;
    color: $gray-dark;

    &:hover {
      background-color: darken($gray, 10%);
      color: $gray-dark;
    }
  }

  // Modifier: Size
  @include m('small') {
    padding: 10px 35px;
  }

  @include m('basic') {
    font-size: $font-size-large;
    padding: 25px 50px;
  }

  @include m('large') {
    font-size: $font-size-large + 6;
    padding: 30px 112px;
  }

  // Modifier: isFull
  @include m('full') {
    display: block;
    width: 100%;
  }

  @include e('icon') {
    color: inherit;
    font-size: 12px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -.125em;
  }
}
