// ======================================================
// Components :: Buttons
// ======================================================

.button {
  $block: &;

  @include font-bold();

  font-size: 14px;
  line-height: 18px;
  border-radius: 8px;
  padding: 10px 38px;
  transition: all .3s ease;

  // Modifier: Type
  @include m('primary') {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: darken($blue, 10%);
      color: $white;
    }
  }

  @include m('secondary') {
    background-color: $blue-light;
    color: $blue;

    &:hover {
      background-color: darken($blue-light, 10%);
      color: $blue;
    }
  }

  @include m('danger') {
    background-color: $red-light;
    color: $red;

    &:hover {
      background-color: darken($red-light, 10%);
    }
  }

  @include m('light') {
    background-color: $white;
    color: $blue;

    &:hover {
      background-color: $blue-light;
    }
  }

  @include m('google') {
    background-color: transparent;
    color: $google;
    border: 1px solid $google;

    &:hover {
      background-color: $google;
      color: $white;

      .icon-images--google {
        background-image: url('#{$path-image}/icon-google-hover.png');
      }
    }
  }

  // Modifier: Size
  @include m('extra-small') {
    padding: 6px 38px;
  }

  @include m('small') {
    padding: 8px 38px;
  }

  @include m('large') {
    padding: 16px 38px;
  }

  // Modifier: isFull
  @include m('full') {
    display: block;
    width: 100%;
  }

  @include e('icon') {
    color: inherit;
    font-size: 12px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -.125em;
  }
}
