// ======================================================
// Components :: Forms
// ======================================================

.form-control {
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  color: $grey;
  font-size: $font-size-base;
  height: 40px;
  padding: 12px 30px;

  &--disabled {
    &:disabled {
      background-color: $white;
    }
  }

  &:focus {
    border-color: $blue;
    box-shadow: none;
  }

  &--gray {
    background-color: $gray;
  }
}

.form-customize {
  label {
    font-size: 12px;
    font-weight: 600;
    color: $gray-darker;
  }

  .form-control {
    border-radius: 8px;
    padding: 10px 16px 11px;
    font-size: 14px;
    line-height: 14px;
  }
}
