// Component: Pagination

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 45px;

  &__item {
    a {
      color: $grey-light;
      display: block;
      font-size: $font-size-medium;
      height: 40px;
      letter-spacing: .3px;
      line-height: 38px;
      margin: 0 5px;
      opacity: .4;
      text-align: center;
      width: 40px;
    }

    &.active {
      a {
        color: $blue;
      }
    }

    &.prev,
    &.next {
      a {
        background-color: $white;
        border-radius: $border-radius-small + 2;
        border: 1px solid $blue;
        color: $blue;
      }
    }

    &.disable {
      a {
        border-color: $grey-light;
        color: $grey-light;
        cursor: not-allowed;

        // stylelint-disable no-descending-specificity
        // stylelint-disable-next-line max-nesting-depth
        &:hover {
          color: $grey-light;
        }
      }
    }

    &:hover {
      a {
        color: $blue;
      }
    }
  }
}
