extends layout/_page-default

block head
  +head(head.home)

block main
  main.main-content
    block promotion
      .promotion
        .container
          .row
            .col-md-12
              .promotion__content
                .promotion__item
                  .promotion__icon
                    img(src='images/pencil.svg', alt='pencil')
                  .promotion__info
                    h2.promotion__info-title
                      | Đăng ký học thử miễn phí
                    a.promotion__info-link(href='#')
                      span Đăng ký
                      span >
                .promotion__item
                  .promotion__icon
                    img(src='images/note.svg', alt='note')
                  .promotion__info
                    h2.promotion__info-title
                      | Làm bài test trình độ
                    a.promotion__info-link(href='#')
                      span Đăng ký
                      span >
    block about
      .about
        .container
          .row
            .col-md-12
              .about__content
                .row
                  .col-md-8
                    .about__public
                      .about__image
                        img(src='images/img-about.jpg', alt='image-about')
                      .about__play-video
                        span.about__play-title Play video
                        img(src='images/btn-play.svg' alt='btn-video')
                  .col-md-4
                    .about__box
                      .about__title.section-title About
                      .about__text.section-info
                        | Giới thiệu về
                        br
                        | ispeak
                      p.about__des
                        | Lorem ipsum dolor sit amet, consectetur adip iscing elit. Sed felis turpis, efficitur vel faucibus id, placerat vel eros.
                      .about__link
                        a(href='#') Tìm hiểu thêm
    block why-us
      .why-us
        .why-us__title.section-title Why us
        .why-us__text
          | Những điều chỉ có ở ispeak
        .why-us__content
          ul.why-us__list
            li.why-us__item
              a(href='#') thời gian ngắn cường độ cao
            li.why-us__item.active
              a(href='#') 100% giáo viên nước ngoài
            li.why-us__item
              a(href='#') Chi phí học thấp chất lượng cao
            li.why-us__item
              a(href='#') Học 1 thầy - 1 trò
        .why-us__info
          .why-us__info-col
            .why-us__info-image
              img(src='http://i.pravatar.cc/569x324', alt='')
          .why-us__info-col
            .why-us__info-image
              img(src='http://i.pravatar.cc/569x324', alt='')
            .why-us__info-des
              .why-us__info-avatar
                img(src='http://i.pravatar.cc/79x79', alt='')
              .why-us__info-text
                p Đội ngũ giáo viên có kinh nghiệm giảng dạy đến từ Anh, Pháp, Mỹ, Philippines, Canada.
                p Tất cả đều có bằng cấp giảng dạy tiếng Anh chuyên nghiệp.
          .why-us__info-col
            .why-us__info-image
              img(src='http://i.pravatar.cc/569x324', alt='')
    block join-us
      .join-us
        .container
          .row
            .col-md-12
              .join-us__title.section-title Join us
              .join-us__info.section-info
                | Bắt đầu học với 3 bước đơn giản
              .join-us__content
                .row
                  .col-md-4
                    .join-us__item
                      .join-us__image
                        img(src='images/img-join.jpg' alt='')
                      .join-us__box
                        .join-us__step Step 01
                        h4.join-us__text Đăng ký tài khoản
                        p.join-us__des
                          | Đăng ký tài khoản dễ dàng - Học thử miễn phí
                        a.join-us__link(href='#') Bạn chưa có tài khoản?
                  .col-md-4
                    .join-us__item
                      .join-us__image
                        img(src='images/img-join.jpg' alt='')
                      .join-us__box
                        .join-us__step Step 02
                        h4.join-us__text Chọn giáo viên và lịch học
                        p.join-us__des
                          | Chọn giáo viên > Đặt lịch học > Chọn bài học
                  .col-md-4
                    .join-us__item
                      .join-us__image
                        img(src='images/img-join.jpg' alt='')
                      .join-us__box
                        .join-us__step Step 03
                        h4.join-us__text Học tại bất kỳ đâu
                        p.join-us__des
                          | Bắt đầu bài học với Máy tính, ĐTDĐ bất cứ lúc nào, bất cứ nơi nào
    block our-team
      .our-team
        .container
          .row
            .col-md-12
              .our-team__container
                .our-team__title.section-title Our team
                .our-team__info.section-info
                  | Đội ngũ giáo viên tiêu biểu
                .our-team__content
                  .row
                    .col-md-4
                      .our-team__item.active
                        .our-team__image
                          img(src='images/img-ot-1.jpg' alt='image-ot')
                        .our-team__public
                          .our-team__star
                            img(src='images/star.png' alt='star')
                          h4.our-team__name Ms. Jessica Donal
                          .our-team__review
                            .our-team__number
                              span.our-team__number-icon
                              span.our-team__number-class 1290 lớp đã dạy
                            .our-team__rate (Rate by 1290)
                          p.our-team__des
                            | Do you find English language difficult to learn? That's not a
                            | problem because you've found the right teacher to help you.
                    .col-md-4
                      .our-team__item
                        .our-team__image
                          img(src='images/img-ot-2.jpg' alt='image-ot')
                        .our-team__public
                          .our-team__star
                            img(src='images/star.png' alt='star')
                          h4.our-team__name Ms. Jessica Donal
                          .our-team__review
                            .our-team__number
                              span.our-team__number-icon
                              span.our-team__number-class 1290 lớp đã dạy
                            .our-team__rate (Rate by 1290)
                    .col-md-4
                      .our-team__item
                        .our-team__image
                          img(src='images/img-ot-3.jpg' alt='image-ot')
                        .our-team__public
                          .our-team__star
                            img(src='images/star.png' alt='star')
                          h4.our-team__name Ms. Jessica Donal
                          .our-team__review
                            .our-team__number
                              span.our-team__number-icon
                              span.our-team__number-class 1290 lớp đã dạy
                            .our-team__rate (Rate by 1290)
    block services
      .services
        .container
          .row
            .col-md-12
              .services__title.section-title Services
              .services__info.section-info
                | Chương trình học
              .services__content
                .row.align-items-center
                  .col-md-3
                    img(src='images/bg-oxford.png' alt='image-services')
                  .col-md-3
                    img(src='images/bg-cambridge.png' alt='image-services')
                  .col-md-3
                    img(src='images/bg-kentucky.png' alt='image-services')
                  .col-md-3
                    img(src='images/bg-southampton.png' alt='image-services')
    block review
      .review
        .container
          .row
            .col-md-12
              .review__title.section-title Why us
              .review__info.section-info
                | Học viên nói về ispeak
              .review__content
                .review__images
                  img(src='http://i.pravatar.cc/178x178', alt='')
                .review__list
                  p.review__des
                    | Em là sinh viên năm ba Đại học, em rất muốn học giao tiếp tiếng Anh với
                    | giáo viên nước ngoài nhưng chi phí học là điều em băn khoan nhất.
                    | Khóa học giao tiếp 30 buổi tại iSpeak chỉ có 70k/buổi lại được sử dụng
                    | kho dữ liệu học tập rất lớn, sau khi tham khảo, em thấy học ở đây vừa hiệu quả mà chí phí thấp...
                  .review__public
                    span.review__star
                      img(src='images/star.png' alt='star')
                    span.review__line
                    span.review__user
                      | An Hòa
                    span.review__text
                      | 21 tuổi - Đại học kinh tế quốc dân - Hà nội
                  .review__thumbnail
                    img.review__thumbnail-image.active(src='http://i.pravatar.cc/36x36', alt='')
                    img.review__thumbnail-image(src='http://i.pravatar.cc/36x36', alt='')
                    img.review__thumbnail-image(src='http://i.pravatar.cc/36x36', alt='')
                    img.review__thumbnail-image(src='http://i.pravatar.cc/36x36', alt='')
                    img.review__thumbnail-image(src='http://i.pravatar.cc/36x36', alt='')
    block advisory
      .advisory
        .container
          .row
            .col-md-12
              .advisory__box
                h3.advisory__title Bạn cần tư vấn thêm?
                p.advisory__des
                  | Nhập thông tin liên lạc, chúng tôi sẽ gọi lại cho bạn ngay
                .advisory__form
                  +input-field({
                    type: 'text',
                    placeholder: 'Tên bạn'
                  })(class='form-control--large')
                  +input-field({
                    type: 'text',
                    placeholder: 'Email'
                  })(class='form-control--large')
                  +input-field({
                    type: 'text',
                    placeholder: 'Số điện thoại'
                  })(class='form-control--large')
                  +buttons({
                    type: 'primary',
                    size: 'small'
                  })
