extends layout/_page-default

block head
  +head(head.home)

block main
  main.main-content
    .promotion
      .promotion__item
        .promotion__icon
        .promotion__content
          h2.promotion__content-title
            | Đăng ký học thử miễn phí
          .promotion__content-link
            span Đăng ký
            span
      .promotion__item
        .promotion__icon
        .promotion__content
          h2.promotion__content-text
            | Làm bài test trình độ
          span Đăng ký
            span
    .about
      .about__image
        img(src='')
      .about__content
        .about__title.section-title About
        .about__text
          | Giới thiệu về
          br
          | ispeak
          p.about_des
            | Lorem ipsum dolor sit amet, consectetur adip iscing elit. Sed felis turpis, efficitur vel faucibus id, placerat vel eros.
        .about__button
          button.button.button--medium Tìm hiểu thêm
    .why-us
      .why-us__title.section-title Why us
      .why-us__text
        | Những điều chỉ có ở ispeak
      .why-us__content
        ul.why-us__list
          li.why-us__item
            a(href='#') thời gian ngắn cường độ cao
          li.why-us__item.active
            a(href='#') 100% giáo viên nước ngoài
          li.why-us__item
            a(href='#') Chi phí học thấp chất lượng cao
          li.why-us__item
            a(href='#') Học 1 thầy - 1 trò
      .why-us__info
        .why-us__info-col
          .why-us__info-image
            img(src='http://i.pravatar.cc/569x324', alt='')
        .why-us__info-col
          .why-us__info-image
            img(src='http://i.pravatar.cc/569x324', alt='')
          .why-us__info-des
            .why-us__info-avatar
              img(src='http://i.pravatar.cc/79x79', alt='')
            .why-us__info-text
              p Đội ngũ giáo viên có kinh nghiệm giảng dạy đến từ Anh, Pháp, Mỹ, Philippines, Canada.
              p Tất cả đều có bằng cấp giảng dạy tiếng Anh chuyên nghiệp.
        .why-us__info-col
          .why-us__info-image
            img(src='http://i.pravatar.cc/569x324', alt='')
    .services
      .services__title Services
      .services__des
        | Chương trình phong phú
      .services__content
        ul.services__list
          li.services__item
            | Tiếng anh cho người lớn
          li.services__item
            | Tiếng anh cho cho thiếu nhi
          li.services__item
            | Cửa hàng sách học tiếng anh
          li.services__item
            | Dịch vụ biên tập tiếng anh
