extends layout/_page-default

block head
  +head(head.home)

block main
  main.main-content
    .promotion
      .promotion__item
        .promotion__icon
        .promotion__content
          h2.promotion__content-text
            | Đăng ký học thử
          span.ion-chevron-right
      .promotion__item
        .promotion__icon
        .promotion__content
          h2.promotion__content-text
            | Làm bài test online
          span.ion-chevron-right
      .promotion__item
        .promotion__login
          button.button.button--meidum Đăng nhập
    .about
      .about__image
        img(src='')
      .about__content
        .about__title About
        .about__des
          | Giới thiệu
          br
          | về Ispeak.vn
        .about__button
          button.button.button--medium Tìm hiểu thêm
    .why-us
      .why-us__title Why us
      .why-us__des
        | Những điều
        br
        | chỉ có ở Ispeak.vn
    .services
      .services__title Services
      .services__des
        | Chương trình phong phú
      .services__content
        ul.services__list
          li.services__item
            | Tiếng anh cho người lớn
          li.services__item
            | Tiếng anh cho cho thiếu nhi
          li.services__item
            | Cửa hàng sách học tiếng anh
          li.services__item
            | Dịch vụ biên tập tiếng anh
    .listen
      h3.listent__title
        span Khoá học nổi bật
        | Luyện nói trực tuyến
      .listen__content
        .listent__list
          .listen__item
            .listen__item-top
              .listen__item-icon
                img(src='')
              .listen__item-begin
                | Sắp bắt đầu
            .listen__item-bottom
              h5.listen__item-title
                strong Chủ đề:
                | Cambridge Flyers - Lesson 5
              .listen__item-time
                i.ion-clock
                span 20:00-21:00
                span |
                span 12/03
              .listen__item-button
                button.button.button--tranperant Tham gia
          .listen__item
            .listen__item-top
              .listen__item-icon
                img(src='')
              .listen__item-begin
                | Sắp bắt đầu
            .listen__item-bottom
              h5.listen__item-title
                strong Chủ đề:
                | Cambridge Mover - Lesson 8
              .listen__item-time
                i.ion-clock
                span 20:00-21:00
                span |
                span 15/03
              .listen__item-button
                button.button.button--tranperant Tham gia
          .listen__item
            .listen__item-top
              .listen__item-icon
                img(src='')
              .listen__item-begin
                | Sắp bắt đầu
            .listen__item-bottom
              h5.listen__item-title
                strong Chủ đề:
                | Cambridge Flyers - Lesson 6
              .listen__item-time
                i.ion-clock
                span 20:00-21:00
                span |
                span 19/03
              .listen__item-button
                button.button.button--tranperant Tham gia